<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div>
            <h1>My Tasks</h1>
            <p><a href="{% url 'create_task' %}">Create a new task</a></p>
            {% for form in forms %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in form.tasks.all %}
                    <tr>
                        <td>{{ form.name }}</td>
                        <td>{{ form.start_date }}</td>
                        <td>{{ form.due_date }}</td>
                        <td>{{ form.is_completed|yesno:"yes,no" }}</td>
                        <td>{{ form.items.all|length }}</td>
                    </tr>
                    {% empty %}
                    <p>You have no tasks</p>
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>