{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>My Projects</h1>
        <p><a href="{% url 'create_project' %}">Create a new Project</a></p>
        {% for project in projects %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                    <td>{{ project.number }}</td>
                    <!-- <td>{{ project.items.all|length }}</td> -->
                </tr>
                {% empty %}
                <p> You are not assigned to any projects.</p>
                {% endfor %}


            </tbody>
        </table>
    </div>
</main>
{% endblock content %}